
/* --------------------------------

Main Components

-------------------------------- */
.cd-accordion-menu {
    background: #aaa;
    margin: 2em auto;
    list-style: none;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a.cat-list {
    position: relative;
    display: block;
    padding: 10px 10px 10px 64px;
    background: #eee;
    box-shadow: inset 0 -1px #eee;
    font-size: 13px;
    padding-right: 20px
}

.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a.cat-list::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cd-accordion-menu label {
    cursor: pointer;
    margin-bottom: 2px;
}
.cd-accordion-menu li img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
    background-image: url(../images/cd-icons.svg);
    background-repeat: no-repeat;
}

.cd-accordion-menu label::before {
    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
    /* folder icons */
    left: 41px;
    background-position: -16px 0;
}
.cd-accordion-menu a.cat-list::after {
    /* image icon */
    left: 36px;
    background: url(../images/cd-icons.svg) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a.cat-list {
    background: #fff;
    box-shadow: inset 0 -1px #ddd;
    padding-left: 82px;
}

.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a.cat-list,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a.cat-list {
    box-shadow: none;
}
.cd-accordion-menu ul label::before {
    left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a.cat-list::after {
    left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a.cat-list {
    padding-left: 100px;
}
.cd-accordion-menu ul ul label::before {
    left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a.cat-list::after {
    left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a.cat-list {
    padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
    left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a.cat-list::after {
    left: 95px;
}

.cd-accordion-menu.animated label::before {
    /* this class is used if you're using jquery to animate the accordion */
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
