.cat-level-1 .custom-radio{padding:5px 35px;background:#fff;color:#000}.cat-level-2 .custom-radio{padding:5px 60px;border-top:1px solid #aaa;border-bottom:1px solid #aaa}.cat-level-3 .custom-radio{padding:5px 85px}