@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700);
body {
    background: #f5f5f5;
    margin: 0;
    font-size: 14px;
    font-family: Nunito, sans-serif
}

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background: #f5f5f5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-weight: 600
}

h1 {
    line-height: 43px
}

h2 {
    line-height: 35px
}

h3 {
    line-height: 30px
}

h3 small {
    color: #444
}

h4 {
    line-height: 22px
}

h4 small {
    color: #444
}

h5 small {
    color: #444
}

* {
    outline: 0!important
}

a:hover {
    outline: 0;
    text-decoration: none
}

a:active {
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

code {
    color: #1699dd
}

.container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .05);
    bottom: 0;
    color: #0f1f3e;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    left: 240px
}

.footer i.text-danger {
    color: #5cb85c!important
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%
}

.page {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.blockquote {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-left: 4px solid #f5f5f5
}

.blockquote-reverse {
    border-left: 0;
    border-right: 4px solid #f5f5f5;
    text-align: right
}

.social-links li a {
    -webkit-border-radius: 50%;
    background: #eff3f6;
    border-radius: 50%;
    color: #868686;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 9999999
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px
}

.spinner {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 50%;
    margin-left: -39px;
    margin-top: -39px
}

.spinner:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -23px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #5cb85c rgba(226, 89, 95, .3);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 3.45s infinite;
    -o-animation: spin 3.45s infinite;
    -ms-animation: spin 3.45s infinite;
    -webkit-animation: spin 3.45s infinite;
    -moz-animation: spin 3.45s infinite
}

.spinner:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    background-color: #5cb85c;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(1080deg)
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(226, 89, 95, .2)
    }
    13% {
        background-color: rgba(226, 89, 95, .2)
    }
    15% {
        background-color: rgba(226, 89, 95, .9)
    }
    28% {
        background-color: rgba(226, 89, 95, .9)
    }
    30% {
        background-color: rgba(226, 89, 95, .2)
    }
    43% {
        background-color: rgba(226, 89, 95, .2)
    }
    45% {
        background-color: rgba(226, 89, 95, .9)
    }
    70% {
        background-color: rgba(226, 89, 95, .9)
    }
    74% {
        background-color: rgba(226, 89, 95, .2)
    }
    100% {
        background-color: rgba(226, 89, 95, .9)
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(226, 89, 95, .2)
    }
    13% {
        background-color: rgba(226, 89, 95, .2)
    }
    15% {
        background-color: rgba(226, 89, 95, .9)
    }
    28% {
        background-color: rgba(226, 89, 95, .9)
    }
    30% {
        background-color: rgba(226, 89, 95, .2)
    }
    43% {
        background-color: rgba(226, 89, 95, .2)
    }
    45% {
        background-color: rgba(226, 89, 95, .9)
    }
    70% {
        background-color: rgba(226, 89, 95, .9)
    }
    74% {
        background-color: rgba(226, 89, 95, .2)
    }
    100% {
        background-color: rgba(226, 89, 95, .9)
    }
}

@keyframes borderPulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(226, 89, 95, .8)
    }
    40% {
        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(226, 89, 95, .8)
    }
    80% {
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(226, 89, 95, .8)
    }
}

@-webkit-keyframes borderPulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(226, 89, 95, .8)
    }
    40% {
        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(226, 89, 95, .8)
    }
    80% {
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(226, 89, 95, .8);
        box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(226, 89, 95, .8)
    }
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 15px;
    margin-top: 5px
}

.dropdown-menu {
    padding: 4px 0;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    border-color: #eff3f6;
    font-size: 14px
}

.dropdown-item.active,
.dropdown-item:active {
    color: #0f1f3e;
    text-decoration: none;
    background-color: #eff3f6
}

.dropdown-item {
    padding: 6px 16px
}

.dropdown-menu-lg {
    width: 270px
}

.dropdown-menu-animated {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    margin-top: 20px!important
}

.show>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0!important
}

.anima-dropdown .dropdown-menu.show {
    margin-top: 10px!important
}

.anima-dropdown .dropdown-menu.show:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: -6px;
    left: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 -4px .5rem rgba(108, 118, 134, .1);
    box-shadow: 0 -4px .5rem rgba(108, 118, 134, .1)
}

.bg-primary {
    background-color: #5cb85c!important
}

.bg-success {
    background-color: #46cd93!important
}

.bg-info {
    background-color: #1699dd!important
}

.bg-warning {
    background-color: #fdba45!important
}

.bg-danger {
    background-color: #dc3545!important
}

.bg-muted {
    background-color: #707070!important
}

.bg-white {
    background-color: #fff!important
}

.text-white {
    color: #fff!important
}

.text-danger {
    color: #dc3545!important
}

.text-muted {
    color: #707070!important
}

.text-primary {
    color: #5cb85c!important
}

.text-warning {
    color: #fdba45!important
}

.text-success {
    color: #46cd93!important
}

.text-purple {
    color: #a462e0!important
}

.text-info {
    color: #1699dd!important
}

.text-dark {
    color: #0f1f3e!important
}

.text-pink {
    color: #e66793
}

.badge:empty {
    padding: 0;
    display: none
}

.badge-default {
    background-color: #eff3f6;
    color: #0f1f3e
}

.badge-primary {
    background-color: #5cb85c
}

.badge-success {
    background-color: #46cd93
}

.badge-info {
    background-color: #1699dd
}

.badge-warning {
    background-color: #fdba45
}

.badge-danger {
    background-color: #dc3545
}

.badge-dark {
    background-color: #0f1f3e
}

.badge-pink {
    background-color: #e66793;
    color: #fff
}

.badge-purple {
    background-color: #a462e0;
    color: #fff
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #5cb85c
}

.nav-pills>.active>a>.badge {
    color: #5cb85c
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #5cb85c
}

.p-0 {
    padding: 0
}

.p-t-10 {
    padding-top: 10px
}

.p-b-10 {
    padding-bottom: 10px
}

.m-0 {
    margin: 0
}

.m-r-5 {
    margin-right: 5px
}

.m-r-10 {
    margin-right: 10px
}

.m-r-15 {
    margin-right: 15px
}

.m-l-10 {
    margin-left: 10px
}

.m-l-15 {
    margin-left: 15px
}

.m-t-5 {
    margin-top: 5px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-15 {
    margin-top: 15px
}

.m-t-20 {
    margin-top: 20px
}

.m-t-30 {
    margin-top: 30px
}

.m-t-40 {
    margin-top: 40px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-b-15 {
    margin-bottom: 15px
}

.m-b-20 {
    margin-bottom: 20px
}

.m-b-30 {
    margin-bottom: 30px
}

.w-xs {
    min-width: 80px
}

.w-sm {
    min-width: 95px
}

.w-md {
    min-width: 110px
}

.w-lg {
    min-width: 140px
}

.m-h-50 {
    min-height: 50px
}

.l-h-34 {
    line-height: 34px
}

.font-12 {
    font-size: 12px
}

.font-14 {
    font-size: 14px
}

.font-16 {
    font-size: 16px
}

.font-18 {
    font-size: 18px
}

.font-20 {
    font-size: 20px
}

.font-32 {
    font-size: 32px
}

.font-40 {
    font-size: 40px
}

.no-border {
    border: none
}

.thumb-sm {
    height: 32px;
    width: 32px
}

.thumb-md {
    height: 48px;
    width: 48px
}

.thumb-lg {
    height: 88px;
    width: 88px
}

.grid-structure .grid-container {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px 20px
}

.font-600 {
    font-weight: 600
}

.header-title {
    margin-bottom: 8px;
    letter-spacing: .02em;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}


/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, .25)
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, .7)
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, .7)
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, .7)
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, .7)
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, .7)
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, .7)
}

.waves-notransition {
    -webkit-transition: none;
    transition: none
}

.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-block {
    display: block
}

.metismenu {
    padding: 0
}

.metismenu ul {
    padding: 0
}

.metismenu ul li {
    list-style: none
}

.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999
}

.topbar .topbar-left {
    background: -webkit-gradient(linear, left top, right top, from(#fffdfd), to(#5cb85c));
    background: linear-gradient(to right, #fffdfd, #5cb85c);
    float: left;
    text-align: center;
    height: 60px;
    position: relative;
    width: 240px;
    z-index: 1
}

.topbar .topbar-left .logo {
    line-height: 60px
}

.topbar .topbar-left .logo .logo-sm {
    display: none
}

.navbar-custom {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    margin-left: 240px;
    min-height: 60px;
    position: relative
}

.navbar-custom .nav-link {
    padding: 0 4px
}

.navbar-custom .navbar-right .dropdown-toggle:after {
    content: initial
}

.navbar-custom .flags-dropdown .flag-img {
    max-width: 18px;
    margin-right: 6px
}

.navbar-custom .dropdown-menu.show {
    margin-top: 10px
}

.navbar-custom .dropdown-menu.show:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: -6px;
    left: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -4px .5rem rgba(108, 118, 134, .1);
    box-shadow: -2px -4px .5rem rgba(108, 118, 134, .1)
}

.navbar-custom .dropdown-menu-right.show:before {
    right: 18px;
    left: auto
}

.side-menu {
    width: 240px;
    z-index: 999;
    background: -webkit-gradient(linear, left top, right top, from(#5cb85c), to(#5cb85c));
    background: linear-gradient(to right, #5cb85c, #5cb85c);
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 60px
}

.side-menu .waves-effect .waves-ripple {
    background-color: rgba(226, 89, 95, .4)
}

.side-menu .slimScrollBar {
    background: #fff!important
}

.enlarged .side-menu {
    position: absolute
}

.content-page {
    margin-left: 240px;
    overflow: hidden
}

.content-page .content {
    padding: 0 10px 10px 10px;
    margin-top: 60px;
    margin-bottom: 60px
}

.button-menu-mobile {
    border: none;
    color: #234890;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #fff;
    font-size: 24px
}

#sidebar-menu>ul>li>a {
    color: #fff;
    display: block;
    padding: 13px 20px;
    font-size: 14.5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s
}

#sidebar-menu>ul>li>a:active,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:hover {
    color: #9ee80e;
    text-decoration: none
}

#sidebar-menu>ul>li>a.active {
    color: #9ee80e!important
}

#sidebar-menu>ul>li>a>span {
    vertical-align: middle;
    margin-left: 5px
}

.submenu li a {
    padding: 8px 20px 8px 10px;
    color: #fff;
    display: block;
    -webkit-transition: all .5s;
    transition: all .5s
}

.submenu li a:hover {
    color: #fff
}

.submenu>li>a {
    padding-left: 50px
}

.submenu li.active>a {
    color: #9ee80e
}

#sidebar-menu {
    padding-top: 10px
}

#sidebar-menu .badge {
    margin-top: 4px
}

#sidebar-menu li.active .menu-arrow i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#sidebar-menu ul li a i {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    vertical-align: middle;
    width: 20px
}

.menu-title {
    padding: 12px 20px!important;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529
}

.enlarged .slimScrollDiv {
    overflow: inherit!important
}

.enlarged .slimScrollBar {
    visibility: hidden
}

.enlarged #wrapper .navbar-custom {
    margin-left: 70px
}

.enlarged #wrapper #sidebar-menu .badge,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .menu-title {
    display: none!important
}

.enlarged #wrapper #sidebar-menu .collapse.in {
    display: none!important
}

.enlarged #wrapper #sidebar-menu .nav.collapse {
    height: inherit!important
}

.enlarged #wrapper #sidebar-menu ul ul {
    margin-top: -2px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 9999;
    background-color: #5cb85c
}

.enlarged #wrapper .left.side-menu {
    width: 70px;
    z-index: 5
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a {
    padding: 15px 24px;
    min-height: 56px
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:active,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:focus,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:hover {
    color: #fff!important;
    background-color: #67d067
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a i {
    font-size: 16px;
    margin-right: 20px!important;
    text-align: center
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li {
    position: relative;
    white-space: nowrap
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>a {
    position: relative;
    width: 260px;
    background-color: #67d067
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto!important
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a:hover {
    color: #fff
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover a span {
    display: inline
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover>ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li>a span.float-right {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg)
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.active a {
    color: #fff
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li>a span {
    display: none;
    padding-left: 10px
}

.enlarged #wrapper .left.side-menu .user-details {
    display: none
}

.enlarged #wrapper .content-page {
    margin-left: 70px
}

.enlarged #wrapper .footer {
    left: 70px
}

.enlarged #wrapper .topbar .topbar-left {
    width: 70px!important
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-large {
    display: none;
    opacity: 0
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-sm {
    display: inline-block;
    line-height: 60px
}

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.open:after {
    display: none
}

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.active:after {
    display: none
}

.notification-list {
    margin: 0!important
}

.notification-list .noti-title {
    margin: -4px 0 0 0;
    width: auto;
    padding: 12px 20px
}

.notification-list .noti-title h5 {
    margin: 0;
    font-size: 14px
}

.notification-list .noti-icon {
    font-size: 22px;
    vertical-align: middle
}

.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: #655be6
}

.notification-list .notify-item {
    padding: 15px 20px
}

.notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff
}

.notification-list .notify-item .notify-details {
    margin-bottom: 0;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.notification-list .notify-item .notify-details b {
    font-weight: 600
}

.notification-list .notify-item .notify-details span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px
}

.notification-list .notify-all {
    margin: 0 0 -5px 0;
    background-color: #eff3f6
}

.notification-list .nav-link {
    padding: 0 12px;
    line-height: 60px;
    color: #707070
}

.notification-list .dropdown-menu.dropdown-menu-right,
.page-title-box .dropdown-menu.dropdown-menu-right {
    -webkit-transform: none!important;
    transform: none!important;
    top: 100%!important;
    right: 0!important;
    left: auto!important
}

.notification-list .show>.dropdown-menu,
.page-title-box .show>.dropdown-menu {
    margin-top: 8px!important
}

.profile-dropdown {
    width: 170px
}

.profile-dropdown i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 7px
}

.nav-user img {
    margin-top: -3px;
    height: 30px;
    width: 30px
}

.arrow-none:after {
    border: none;
    margin: 0;
    display: none
}

.dropdown-menu-lg {
    width: 270px
}

.search-wrap {
    background-color: #fff;
    color: #0f1f3e;
    z-index: 9997;
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: .3s;
    transition: .3s
}

.search-wrap form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.search-wrap .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.search-wrap .search-input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

.search-wrap .close-search {
    line-height: 60px;
    color: inherit;
    font-size: 20px
}

.search-wrap .close-search:hover {
    color: #655be6
}

.search-wrap.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.page-title-box {
    padding: 15px 0;
    color: rgba(15, 31, 62, .9)
}

.page-title-box .col-md-4,
.page-title-box .col-md-8 {
    padding: 0 15px
}

.page-title-box .page-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700
}

.page-title-box .dropdown-menu.show {
    margin-top: 10px
}

.page-title-box .dropdown-menu.show:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: -6px;
    right: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -4px .5rem rgba(108, 118, 134, .1);
    box-shadow: -2px -4px .5rem rgba(108, 118, 134, .1)
}

.page-title-box .breadcrumb {
    padding: .75rem 0
}

.page-title-box .breadcrumb .breadcrumb-item a {
    color: rgba(15, 31, 62, .9)
}

.page-title-box .breadcrumb .breadcrumb-item.active {
    color: rgba(15, 31, 62, .7)
}

.breadcrumb>.breadcrumb-item+.breadcrumb-item:before {
    padding: 0 4px;
    margin-right: 7px;
    color: rgba(15, 31, 62, .7);
    content: "\f105"!important;
    font-family: FontAwesome
}

.footer {
    bottom: 0;
    text-align: center!important;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    left: 240px;
    color: #0f1f3e
}

.button-items {
    margin-bottom: -8px
}

.button-items .btn {
    margin-bottom: 8px;
    margin-right: 5px
}

.bs-example-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block
}

.icon-demo-content {
    text-align: center;
    color: #707070
}

.icon-demo-content i {
    display: block;
    font-size: 28px;
    margin-bottom: 5px
}

.icon-demo-content .col-sm-6 {
    margin-bottom: 30px
}

.icon-demo-content .col-sm-6:hover i {
    color: #5cb85c
}

.alert {
    position: relative;
    border: 0
}

.alert .alert-link {
    font-weight: 600
}

.alert-success {
    color: #46cd93;
    background-color: #beeed9
}

.alert-success .alert-link {
    color: #30b079
}

.alert-success hr {
    border-top-color: #30b079
}

.alert-primary {
    color: #5cb85c;
    background-color: #f9dbdd
}

.alert-primary .alert-link {
    color: #da2e35
}

.alert-primary hr {
    border-top-color: #da2e35
}

.alert-warning {
    color: #fdba45;
    background-color: #fff2dc
}

.alert-warning .alert-link {
    color: #fca713
}

.alert-warning hr {
    border-top-color: #fca713
}

.alert-danger {
    color: #655be6;
    background-color: #f6f6fe
}

.alert-danger .alert-link {
    color: #3b2fdf
}

.alert-danger hr {
    border-top-color: #3b2fdf
}

.btn {
    border-radius: 3px;
    font-size: 15px
}

.btn-sm {
    font-size: 12px
}

.btn-rounded {
    border-radius: 30px
}

.btn-blue-grey,
.btn-brown,
.btn-danger,
.btn-dark,
.btn-indigo,
.btn-info,
.btn-lime,
.btn-orange,
.btn-pink,
.btn-primary,
.btn-purple,
.btn-success,
.btn-teal,
.btn-warning {
    color: #fff
}

.btn-primary {
    background-color: #5cb85c;
    border: 1px solid #5cb85c
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.open>.dropdown-toggle.btn-primary,
.show>.btn-outline-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
    background-color: #53b425;
    border: 1px solid #53b425
}

.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(226, 89, 95, .3);
    box-shadow: 0 0 0 2px rgba(226, 89, 95, .3)
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(15, 31, 62, .3);
    box-shadow: 0 0 0 2px rgba(15, 31, 62, .3)
}

.btn-success {
    background-color: #46cd93;
    border: 1px solid #46cd93
}

.btn-outline-success.active,
.btn-outline-success:active,
.btn-outline-success:hover,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.open>.dropdown-toggle.btn-success,
.show>.btn-outline-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle:focus {
    background-color: #35c487;
    border: 1px solid #35c487
}

.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success.focus,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(70, 205, 147, .3);
    box-shadow: 0 0 0 2px rgba(70, 205, 147, .3)
}

.btn-info {
    background-color: #1699dd;
    border: 1px solid #1699dd
}

.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-outline-info.active,
.btn-outline-info:active,
.btn-outline-info:hover,
.open>.dropdown-toggle.btn-info,
.show>.btn-info.dropdown-toggle,
.show>.btn-outline-info.dropdown-toggle {
    background-color: #1489c6;
    border: 1px solid #1489c6
}

.btn-info.focus,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(22, 153, 221, .3);
    box-shadow: 0 0 0 2px rgba(22, 153, 221, .3)
}

.btn-warning {
    background-color: #fdba45;
    border: 1px solid #fdba45
}

.btn-outline-warning.active,
.btn-outline-warning:active,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.open>.dropdown-toggle.btn-warning,
.show>.btn-outline-warning.dropdown-toggle,
.show>.btn-warning.dropdown-toggle {
    background-color: #fdb12c;
    border: 1px solid #fdb12c;
    color: #fff
}

.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(253, 186, 69, .3);
    box-shadow: 0 0 0 2px rgba(253, 186, 69, .3)
}

.btn-danger {
    background-color: #655be6;
    border: 1px solid #655be6
}

.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger.active,
.btn-outline-danger:active,
.btn-outline-danger:hover,
.open>.dropdown-toggle.btn-danger,
.show>.btn-danger.dropdown-toggle,
.show>.btn-outline-danger.dropdown-toggle {
    background-color: #5045e3;
    border: 1px solid #5045e3
}

.btn-danger.focus,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.show>.btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(101, 91, 230, .3);
    box-shadow: 0 0 0 2px rgba(101, 91, 230, .3)
}

.btn-dark {
    background-color: #0f1f3e;
    border: 1px solid #0f1f3e;
    color: #fff
}

.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.btn-outline-dark.active,
.btn-outline-dark:active,
.btn-outline-dark:hover,
.open>.dropdown-toggle.btn-dark,
.show>.btn-outline-dark.dropdown-toggle {
    background-color: #0a1529;
    border: 1px solid #0a1529;
    color: #fff
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(15, 31, 62, .3);
    box-shadow: 0 0 0 2px rgba(15, 31, 62, .3)
}

.btn-link {
    color: #0f1f3e
}

.btn-link:hover {
    color: #5cb85c
}

.btn-pink {
    background-color: #e66793;
    border: 1px solid #e66793;
    color: #fff
}

.btn-outline-pink.active,
.btn-outline-pink:active,
.btn-outline-pink:hover,
.btn-pink.active,
.btn-pink.focus,
.btn-pink:active,
.btn-pink:focus,
.btn-pink:hover,
.open>.dropdown-toggle.btn-pink,
.show>.btn-outline-pink.dropdown-toggle {
    background-color: #e25183;
    border: 1px solid #e25183;
    color: #fff
}

.btn-outline-pink.focus,
.btn-outline-pink:focus,
.btn-pink.focus,
.btn-pink:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(230, 103, 147, .3);
    box-shadow: 0 0 0 2px rgba(230, 103, 147, .3)
}

.btn-purple {
    background-color: #a462e0;
    border: 1px solid #a462e0;
    color: #fff
}

.btn-outline-purple.active,
.btn-outline-purple:active,
.btn-outline-purple:hover,
.btn-purple.active,
.btn-purple.focus,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:hover,
.open>.dropdown-toggle.btn-purple,
.show>.btn-outline-purple.dropdown-toggle {
    background-color: #984ddc;
    border: 1px solid #984ddc;
    color: #fff
}

.btn-outline-purple.focus,
.btn-outline-purple:focus,
.btn-purple.focus,
.btn-purple:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(164, 98, 224, .3);
    box-shadow: 0 0 0 2px rgba(164, 98, 224, .3)
}

.btn-outline-primary {
    color: #5cb85c;
    border-color: #5cb85c
}

.btn-outline-success {
    color: #46cd93;
    border-color: #46cd93
}

.btn-outline-info {
    color: #1699dd;
    border-color: #1699dd
}

.btn-outline-warning {
    color: #fdba45;
    border-color: #fdba45
}

.btn-outline-danger {
    color: #655be6;
    border-color: #655be6
}

.btn-outline-dark {
    color: #0f1f3e;
    background-image: none;
    background-color: transparent;
    border-color: #0f1f3e
}

.btn-outline-pink {
    color: #e66793;
    background-image: none;
    background-color: transparent;
    border-color: #e66793
}

.btn-outline-purple {
    color: #a462e0;
    background-image: none;
    background-color: transparent;
    border-color: #a462e0
}

.card {
    border: none;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    margin-bottom: 20px
}

.card-primary {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-success {
    background-color: #46cd93;
    border-color: #46cd93
}

.card-info {
    background-color: #1699dd;
    border-color: #1699dd
}

.card-warning {
    background-color: #fdba45;
    border-color: #fdba45
}

.card-danger {
    background-color: #655be6;
    border-color: #655be6
}

.card-header {
    border-bottom: 1px solid rgba(15, 31, 62, .05)
}

@media (min-width:576px) {
    .card-deck {
        margin: 0 -10px
    }
    .card-deck .card {
        margin: 0 10px
    }
    .card-columns {
        -webkit-column-gap: 20px;
        column-gap: 20px
    }
}

.card-columns .card {
    margin-bottom: 20px
}

.nav-pills .nav-link,
.nav-tabs .nav-link {
    color: #0f1f3e;
    font-weight: 600;
    text-align: center
}

.nav-pills .nav-link.active,
.nav-tabs .nav-link.active {
    color: #5cb85c
}

.nav-bg-custom .nav-link.active {
    color: #fff
}

.nav-tabs-custom {
    border-bottom: 2px solid #ddd
}

.nav-tabs-custom .nav-item {
    position: relative
}

.nav-tabs-custom .nav-item .nav-link {
    border: none!important;
    font-weight: 600
}

.nav-tabs-custom>li>a {
    color: #0f1f3e
}

.nav-tabs-custom>li>a::after {
    content: "";
    background: #5cb85c;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.nav-tabs-custom>li:hover>a::after,
.nav-tabs-custom>li>a.active::after {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.nav-tabs-custom>li>a.active {
    color: #5cb85c!important
}

.progress-bar {
    background-color: #5cb85c
}

.progress {
    height: 10px
}

.page-link {
    color: #5cb85c
}

.page-item.active .page-link {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.page-link:focus,
.page-link:hover {
    color: #0f1f3e;
    background-color: #eff3f6
}

.popover-header {
    margin-top: 0
}

.tooltip .tooltip-inner {
    padding: 4px 10px
}

.swal2-modal {
    font-family: inherit
}

.swal2-modal .swal2-title {
    font-size: 28px
}

.swal2-modal .swal2-content {
    font-size: 16px
}

.swal2-modal .swal2-spacer {
    margin: 10px 0
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
    border: 2px solid #707070;
    font-size: 16px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.swal2-modal .swal2-styled {
    border: inherit
}

.swal2-icon.swal2-question {
    color: #5cb85c;
    border-color: #5cb85c
}

.swal2-icon.swal2-success {
    border-color: #46cd93
}

.swal2-icon.swal2-success .line {
    background-color: #46cd93
}

.swal2-icon.swal2-success .placeholder {
    border-color: #46cd93
}

.swal2-icon.swal2-warning {
    color: #fdba45;
    border-color: #fdba45
}

.swal2-icon.swal2-error {
    border-color: #655be6
}

.swal2-icon.swal2-error .line {
    background-color: #655be6
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
    outline: 0;
    border: 2px solid #5cb85c
}

.email-leftbar {
    width: 200px;
    float: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1)
}

.email-rightbar {
    margin-left: 220px
}

.chat-user-box p.user-title {
    font-size: 14px;
    color: #0f1f3e;
    font-weight: 600
}

.chat-user-box p {
    font-size: 12px
}

@media (max-width:767px) {
    .email-leftbar {
        float: none;
        width: 100%
    }
    .email-rightbar {
        margin: 0
    }
}

.mail-list a {
    display: block;
    color: #142953;
    font-size: 14px;
    line-height: 24px;
    padding: 5px
}

.mail-list a.active {
    color: #655be6;
    font-weight: 600
}

.message-list {
    display: block;
    padding-left: 0
}

.message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.message-list li a {
    color: #707070
}

.message-list li:hover {
    background: rgba(112, 112, 112, .08);
    -webkit-transition-duration: .05s;
    transition-duration: .05s
}

.message-list li .col-mail {
    float: left;
    position: relative
}

.message-list li .col-mail-1 {
    width: 320px
}

.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot,
.message-list li .col-mail-1 .star-toggle {
    display: block;
    float: left
}

.message-list li .col-mail-1 .dot {
    border: 4px solid transparent;
    border-radius: 100px;
    margin: 22px 26px 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
    margin: 15px 10px 0 20px
}

.message-list li .col-mail-1 .star-toggle {
    margin-top: 18px;
    font-size: 16px;
    margin-left: 5px
}

.message-list li .col-mail-1 .title {
    position: absolute;
    top: 0;
    left: 110px;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0
}

.message-list li .col-mail-2 {
    position: absolute;
    top: 0;
    left: 320px;
    right: 0;
    bottom: 0
}

.message-list li .col-mail-2 .date,
.message-list li .col-mail-2 .subject {
    position: absolute;
    top: 0
}

.message-list li .col-mail-2 .subject {
    left: 0;
    right: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.message-list li .col-mail-2 .date {
    right: 0;
    width: 170px;
    padding-left: 80px
}

.message-list li.active,
.message-list li.active:hover {
    -webkit-box-shadow: inset 3px 0 0 #5cb85c;
    box-shadow: inset 3px 0 0 #5cb85c
}

.message-list li.unread {
    background-color: #f7f7f7
}

.message-list li.unread a {
    color: #0a1529;
    font-weight: 600
}

.message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 1px #ddd;
    box-shadow: inset 0 0 0 1px #ddd;
    border-radius: 1px
}

.message-list .checkbox-wrapper-mail input {
    opacity: 0;
    cursor: pointer
}

.message-list .checkbox-wrapper-mail input:checked~label {
    opacity: 1
}

.message-list .checkbox-wrapper-mail label {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 0;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    top: 0
}

.message-list .checkbox-wrapper-mail label:before {
    content: "\F12C";
    font-family: "Material Design Icons";
    top: 0;
    height: 20px;
    color: #0a1529;
    width: 20px;
    position: absolute;
    margin-top: -16px;
    left: 4px;
    font-size: 13px
}

.calendar {
    float: left;
    margin-bottom: 0
}

.none-border .modal-footer {
    border-top: none
}

.fc-toolbar {
    margin-bottom: 5px
}

.fc-toolbar h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase
}

.fc-day {
    background: #fff
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar .ui-state-hover,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
    z-index: 0
}

.fc-widget-header {
    border: 1px solid #d5d5d5;
    background-color: #eff3f6
}

.fc-widget-content {
    border: 1px solid #d5d5d5
}

.fc th.fc-widget-header {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    font-weight: 700;
    text-transform: uppercase
}

.fc-button {
    background: #fff;
    border: 1px solid #d5d5d5;
    color: #555;
    text-transform: capitalize
}

.fc-text-arrow {
    font-family: arial;
    font-size: 16px
}

.fc-state-hover {
    background: #f5f5f5
}

.fc-state-highlight {
    background: #f0f0f0
}

.fc-cell-overlay {
    background: #f0f0f0
}

.fc-unthemed .fc-today {
    background: #fff
}

.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: 13px;
    margin: 5px 0;
    padding: 5px 5px;
    text-align: center;
    background-color: #5cb85c;
    color: #fff!important
}

.external-event {
    color: #fff;
    cursor: move;
    margin: 10px 0;
    padding: 6px 10px
}

.fc-basic-view td.fc-week-number span {
    padding-right: 5px
}

.fc-basic-view td.fc-day-number {
    padding-right: 5px
}

label {
    font-weight: 600
}

.form-control {
    font-size: 15px
}

.form-control:focus {
    border-color: #5cb85c;
    -webkit-box-shadow: none;
    box-shadow: none
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #5cb85c
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #5cb85c;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #5cb85c
}

.has-success .form-control {
    border-color: #46cd93;
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-warning .form-control {
    border-color: #fdba45;
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-error .form-control {
    border-color: #655be6;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group-addon {
    border-radius: 2px;
    border: 1px solid #eff3f6
}

.datepicker {
    border: 1px solid #ddd;
    padding: 8px
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #5cb85c!important;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff
}

.form-group .input-group-append i {
    font-size: 14px
}

.table-condensed>tbody>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px
}

.bootstrap-touchspin .input-group-btn-vertical .btn {
    padding: 9px 12px
}

.bootstrap-touchspin .input-group-btn-vertical i {
    top: 4px;
    left: 8px
}

.colorpicker-visible {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-top: 0
}

.datepicker-dropdown.dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0
}

.colorpicker-selectors i {
    margin-top: 5px;
    margin-left: 5px
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px
}

.colorpicker-2x .colorpicker-alpha,
.colorpicker-2x .colorpicker-hue {
    width: 30px;
    height: 200px
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px
}

.select2-container {
    width: 100%!important
}

.select2-container .select2-selection--single {
    border: 1px solid #e3e3e3;
    height: 38px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #999 transparent transparent transparent;
    border-width: 6px 6px 0 6px
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #999 transparent;
    border-width: 0 6px 6px 6px
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5cb85c
}

.select2-results__option {
    padding: 6px 12px
}

.select2-dropdown {
    border: 1px solid #e3e3e3;
    padding-top: 5px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15)
}

.select2-search input {
    border: 1px solid #e3e3e3
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    border: 1px solid #e3e3e3
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px
}

.select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 7px;
    border: 0
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    padding: 0 7px
}

input[switch] {
    display: none
}

input[switch]+label {
    font-size: 1em;
    line-height: 1;
    width: 56px;
    height: 24px;
    background-color: #ddd;
    background-image: none;
    border-radius: 2rem;
    padding: .16667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 600;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]+label:before {
    color: #0f1f3e;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    right: 1px;
    margin: 3px;
    top: 0;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]+label:after {
    content: '';
    position: absolute;
    left: 3px;
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    height: 20px;
    width: 20px;
    top: 2px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]:checked+label {
    background-color: #5cb85c
}

input[switch]:checked+label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 3px
}

input[switch]:checked+label:after {
    left: 33px;
    background-color: #f5f5f5
}

input[switch=bool]+label {
    background-color: #655be6
}

input[switch=bool]+label:before,
input[switch=bool]:checked+label:before,
input[switch=default]:checked+label:before {
    color: #fff
}

input[switch=bool]:checked+label {
    background-color: #46cd93
}

input[switch=default]:checked+label {
    background-color: #a2a2a2
}

input[switch=primary]:checked+label {
    background-color: #5cb85c
}

input[switch=success]:checked+label {
    background-color: #46cd93
}

input[switch=info]:checked+label {
    background-color: #1699dd
}

input[switch=warning]:checked+label {
    background-color: #fdba45
}

input[switch=danger]:checked+label {
    background-color: #655be6
}

input[switch=dark]:checked+label {
    background-color: #0f1f3e
}

input[switch=pink]:checked+label {
    background-color: #e66793
}

input[switch=purple]:checked+label {
    background-color: #a462e0
}

.icon-span-filestyle {
    padding-right: 5px
}

.bootstrap-filestyle label {
    margin-bottom: 0
}

.group-span-filestyle .badge {
    background-color: #0f1f3e
}

.bootstrap-touchspin .input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #0f1f3e;
    text-align: center;
    background-color: #eff3f6;
    border: 1px solid rgba(15, 31, 62, .15)
}

.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.bootstrap-touchspin .input-group .form-control:not(:first-child),
.bootstrap-touchspin .input-group-addon:not(:first-child),
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.dropdown-toggle,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.bootstrap-touchspin .input-group .form-control:not(:last-child),
.bootstrap-touchspin .input-group-addon:not(:last-child),
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #eff3f6
}

.error {
    color: red
}

.parsley-error {
    border-color: #5cb85c
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0
}

.parsley-errors-list.filled {
    display: block
}

.parsley-errors-list>li {
    font-size: 12px;
    list-style: none;
    color: #5cb85c;
    margin-top: 5px
}

.mce-panel {
    border-color: #dfe7ed!important;
    background-color: #eff3f6!important
}

.mce-menu-item.mce-selected,
.mce-menu-item:focus,
.mce-menu-item:hover {
    background-color: #5cb85c!important
}

.mce-menu {
    background-color: #fff!important
}

.dropzone {
    min-height: 230px;
    border: 2px dashed rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 6px
}

.dropzone .dz-message {
    font-size: 30px
}

.note-btn-group .dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.note-btn-group .dropdown-menu>li>a:hover {
    background-color: #f6f8fa
}

.note-air-popover,
.note-image-popover,
.note-link-popover {
    display: none
}

.note-air-popover .dropdown-toggle::after,
.note-image-popover .dropdown-toggle::after,
.note-link-popover .dropdown-toggle::after {
    margin-left: 0
}

.note-icon-caret {
    display: none
}

.note-editor {
    position: relative
}

.note-editor .btn-default {
    background-color: transparent;
    border-color: transparent
}

.note-editor .btn-group-sm>.btn,
.note-editor .btn-sm {
    padding: 8px 12px
}

.note-editor .note-toolbar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #eff3f6;
    margin: 0
}

.note-editor .note-statusbar {
    background-color: #fff
}

.note-editor .note-statusbar .note-resizebar {
    border-top: none;
    height: 15px;
    padding-top: 3px
}

.note-editor.note-frame {
    border: 1px solid #eff3f6
}

.note-popover .popover .popover-content {
    padding: 5px 0 10px 5px
}

.note-popover .btn-default {
    background-color: transparent;
    border-color: transparent
}

.note-popover .btn-group-sm>.btn,
.note-popover .btn-sm {
    padding: 8px 12px
}

.note-toolbar {
    padding: 5px 0 10px 5px
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0
}

.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2
}

.percent:after {
    content: '%';
    margin-left: .1em;
    font-size: .8em
}

.morris-chart-height {
    height: 300px
}

.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    font-family: Nunito, sans-serif
}

.morris-hover.morris-default-style .morris-hover-point {
    font-weight: 500;
    font-size: 14px;
    color: #0f1f3e!important
}

.morris-hover.morris-default-style .morris-hover-row-label {
    background-color: #0f1f3e;
    color: #fff;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: -10px -12px 10px
}

.morris-charts text {
    font-family: Nunito, sans-serif!important
}

.flot-chart-height {
    height: 320px
}

#flotTip {
    padding: 8px 12px;
    background-color: #fff;
    z-index: 100;
    color: #0f1f3e;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    border-radius: 1px
}

.ct-golden-section:before {
    float: none
}

.ct-chart {
    height: 300px
}

.ct-grid {
    stroke: rgba(0, 0, 0, .09);
    stroke-width: 2px;
    stroke-dasharray: 3px
}

.ct-chart .ct-label {
    fill: #707070;
    color: #707070;
    font-size: 14px;
    line-height: 1
}

.ct-chart.simple-pie-chart-chartist .ct-label {
    color: #fff;
    fill: #fff;
    font-size: 16px
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: #5cb85c
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: #1699dd
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: #fdba45
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: #0f1f3e
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: #46cd93
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: #655be6
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: #eff3f6
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: #5cb85c
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
    fill: #fdba45
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: #0f1f3e
}

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    background: #0f1f3e;
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.chartist-tooltip.tooltip-show {
    opacity: 1
}

.c3 svg {
    max-width: 100%
}

.c3-tooltip td>span {
    background: #0f1f3e
}

.c3-tooltip td {
    border-left: none
}

.c3-tooltip {
    -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    opacity: 1
}

.c3-chart-arcs-title {
    font-size: 18px;
    font-weight: 600
}

.c3-tooltip tr {
    border: none!important
}

.c3-tooltip th {
    background-color: #0f1f3e
}

.c3-tooltip .value {
    font-weight: 600
}

.c3-line {
    stroke-width: 2px
}

.c3-legend-item {
    font-size: 13px
}

.widget-chart li {
    width: 31.5%;
    display: inline-block;
    padding: 0
}

.widget-chart li i {
    font-size: 22px
}

.mini-stats {
    overflow: hidden
}

.mini-stats .mini-stats-content {
    background: -webkit-gradient(linear, left top, right top, from(#5cb85c), to(#5cb85c));
    background: linear-gradient(to right, #5cb85c, #5cb85c)
}

.mini-stats .mini-stats-desc {
    position: relative;
    bottom: 22px;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1)
}

.dash-chart {
    height: 250px
}

.latest-messages-tabs {
    position: relative
}

.latest-messages-tabs .nav-link {
    padding-bottom: 24px;
    color: #0f1f3e;
    position: relative
}

.latest-messages-tabs .nav-link:focus,
.latest-messages-tabs .nav-link:hover {
    border-color: transparent;
    background: 0 0
}

.latest-messages-tabs .nav-link.active {
    border-color: transparent;
    background: 0 0
}

.latest-messages-tabs .nav-link.active::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: -7px;
    left: 0;
    right: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    margin: 0 auto
}

.latest-messages-tabs .nav-link.active h3 {
    color: #5cb85c
}

.latest-message-list .message-list-item {
    position: relative;
    padding: 14px 0;
    border-bottom: 1px solid #ddd
}

.latest-message-list .message-list-item:last-child {
    border: none
}

.latest-message-list .message-list-item .time {
    position: absolute;
    right: 0;
    top: 10px
}

.rec-acti-input .form-control {
    padding: 5px 12px
}

.rec-acti-list .rec-acti-list-item {
    position: relative;
    padding: 14px 0;
    border-bottom: 1px solid #ddd
}

.rec-acti-list .rec-acti-list-item:last-child {
    border: none
}

.rec-acti-list .rec-acti-list-item .delete-icon {
    position: absolute;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.table {
    margin-bottom: 10px
}

.table td,
.table th {
    vertical-align: middle
}

th {
    font-weight: 600
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 15px 12px
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.thead-default th {
    background-color: #eff3f6
}

.table-vertical td {
    vertical-align: middle
}

.sticky-table-header.fixed-solution {
    top: 60px!important
}

table.focus-on tbody tr.focused th {
    background-color: #5cb85c;
    color: #fff
}

table.focus-on tbody tr.focused td {
    background-color: #5cb85c;
    color: #fff
}

.table-rep-plugin .btn-toolbar {
    display: block
}

.table-rep-plugin .btn-default {
    background-color: #fff;
    border-color: #ddd;
    margin-right: 5px
}

.table-rep-plugin .btn-default.btn-primary {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.table-rep-plugin .table-responsive {
    border: none!important
}

.table-rep-plugin .btn-group.pull-right .dropdown-menu {
    left: auto;
    right: 0
}

.table-rep-plugin tbody th {
    font-size: 14px;
    font-weight: 400
}

.table-rep-plugin .checkbox-row {
    padding-left: 40px
}

.table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative
}

.table-rep-plugin .checkbox-row label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 17px;
    outline: 0!important
}

.table-rep-plugin .checkbox-row label::after {
    color: #555;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: -1px;
    width: 16px
}

.table-rep-plugin .checkbox-row input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label {
    opacity: .65
}

.table-rep-plugin .checkbox-row input[type=checkbox]:focus+label::before {
    outline-offset: -2px;
    outline: 0
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    content: "\f00c";
    font-family: FontAwesome
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label::before {
    background-color: #eff3f6;
    cursor: not-allowed
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    color: #fff
}

.gmaps,
.gmaps-panaroma {
    height: 300px;
    background: #eff3f6;
    border-radius: 3px
}

.gmaps-overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    background: #5cb85c;
    border-radius: 4px;
    padding: 10px 20px
}

.gmaps-overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute
}

.gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #5cb85c
}

.gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #5cb85c
}

.vector-map-height {
    height: 400px
}

.custom-dd .dd-list .dd-item .dd-handle {
    background: #eff3f6;
    border: 1px solid #eff3f6;
    padding: 10px 16px;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px
}

.custom-dd .dd-list .dd-item .dd-handle:hover {
    color: #5cb85c
}

.custom-dd .dd-list .dd-item button {
    height: auto;
    font-size: 25px;
    margin: 8px auto;
    color: #707070;
    width: 35px
}

.custom-dd-empty .dd-list .dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px!important;
    width: 36px!important
}

.custom-dd-empty .dd-list .dd3-handle:before {
    color: inherit;
    top: 7px
}

.custom-dd-empty .dd-list .dd3-handle:hover {
    color: #5cb85c
}

.custom-dd-empty .dd-list .dd3-content {
    height: auto;
    border: none;
    padding: 8px 16px 8px 46px;
    background: #f3f3f3
}

.custom-dd-empty .dd-list .dd3-content:hover {
    color: #5cb85c
}

.custom-dd-empty .dd-list button {
    width: 26px;
    height: 26px;
    font-size: 16px;
    font-weight: 600
}

.dd-dragel>.dd-item .dd-handle {
    padding: 8px 16px!important;
    background: #f3f3f3;
    height: auto
}

.dd-empty,
.dd-placeholder {
    background: #f3f3f3;
    border: 1px dashed #707070
}

.dd-dragel>.dd3-item>.dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px!important;
    width: 36px!important
}

.dd-dragel>.dd3-item>.dd3-handle:before {
    color: inherit;
    top: 7px
}

.dd-dragel>.dd3-item>.dd3-content {
    padding: 8px 16px 8px 46px;
    background: #f3f3f3;
    height: auto
}

.alertify,
.alertify-logs {
    z-index: 1000
}

.alertify input {
    border: 2px solid #707070
}

.alertify-logs>.success {
    background-color: #46cd93;
    color: #fff
}

.alertify-logs>.error {
    background-color: #655be6;
    color: #fff
}

.alertify-logs>*,
.alertify-logs>.default {
    background-color: #0f1f3e
}

.irs-from,
.irs-single,
.irs-to {
    background: #655be6
}

.irs-from:after,
.irs-single:after,
.irs-to:after {
    border-top-color: #655be6
}

#session-timeout-dialog .modal-title {
    margin-top: 0
}

#session-timeout-dialog .close {
    display: none
}

#session-timeout-dialog .countdown-holder {
    color: #655be6;
    font-weight: 700
}

.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto
}

.cd-container::after {
    content: '';
    display: table;
    clear: both
}

#cd-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 2em 0;
    position: relative
}

#cd-timeline::before {
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px
}

@media only screen and (min-width:1170px) {
    #cd-timeline {
        margin-bottom: 3em;
        margin-top: 3em
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px
    }
}

.cd-timeline-block {
    margin: 2em 0;
    position: relative
}

.cd-timeline-block:after {
    clear: both;
    content: "";
    display: table
}

.cd-timeline-block:first-child {
    margin-top: 0
}

.cd-timeline-block:last-child {
    margin-bottom: 0
}

@media only screen and (min-width:1170px) {
    .cd-timeline-block {
        margin: 4em 0
    }
    .cd-timeline-block:first-child {
        margin-top: 0
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0
    }
    .timeline-right::before {
        content: "";
        position: absolute;
        width: 300px;
        height: 150px;
        left: 58%;
        top: 35px;
        border-right: 3px solid #eff3f6;
        border-top: 3px solid #eff3f6;
        border-radius: 8px
    }
    .timeline-left::before {
        content: "";
        position: absolute;
        width: 300px;
        height: 150px;
        left: 14%;
        top: 35px;
        border-left: 3px solid #eff3f6;
        border-top: 3px solid #eff3f6;
        border-radius: 8px
    }
    .timeline-left .cd-timeline-img {
        left: 28%
    }
}

.cd-timeline-img {
    position: absolute;
    top: 16px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #5cb85c;
    border: 5px solid #fff
}

.cd-timeline-img i {
    margin-left: 1px
}

@media only screen and (min-width:1170px) {
    .cd-timeline-img {
        width: 40px;
        height: 40px;
        line-height: 30px;
        left: 71%;
        margin-left: -20px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }
    .timeline-left .cd-timeline-img {
        left: 28%
    }
}

.cd-timeline-content {
    border-radius: 5px;
    border: 1px solid #eff3f6;
    margin-left: 60px;
    padding: 1em;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#5cb85c), to(#5cb85c));
    background: linear-gradient(to right, #5cb85c, #5cb85c)
}

.cd-timeline-content:after {
    clear: both;
    content: "";
    display: table
}

.cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 14px
}

.cd-timeline-content h3 {
    font-size: 18px;
    margin: 0 0 15px 0
}

.cd-timeline-content .cd-date {
    float: right;
    padding: .8em 0;
    opacity: .7
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-right: 12px solid #5cb85c
}

@media only screen and (min-width:1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 54%
    }
    .cd-timeline-content:before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #5cb85c
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 87%;
        top: 5px
    }
    .cd-timeline-content.last::before {
        display: none
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #5cb85c
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 6%;
        text-align: right
    }
}

@media (max-width:1169px) {
    #cd-timeline:before {
        border-left: 3px solid #eff3f6
    }
    #cd-timeline .cd-timeline-img {
        top: 10px
    }
}

@media print {
    #topnav,
    .breadcrumb,
    .footer,
    .logo,
    .page-title,
    .page-title-box {
        display: none;
        margin: 0;
        padding: 0
    }
    .left {
        display: none
    }
    .content,
    .page-content-wrapper,
    .wrapper {
        margin-top: 0;
        padding-top: 0
    }
    .content-page {
        margin-left: 0;
        margin-top: 0
    }
    .footer,
    .side-menu,
    .topbar {
        display: none;
        margin: 0;
        padding: 0
    }
    .content-page>.content {
        margin: 0
    }
}

.directory-card {
    overflow: hidden
}

.directory-card .directory-content {
    background: -webkit-gradient(linear, left top, right top, from(#5cb85c), to(#5cb85c));
    background: linear-gradient(to right, #5cb85c, #5cb85c)
}

.directory-card .directory-content .info-icon {
    position: absolute;
    right: -32px;
    background: #fff;
    border-radius: 12px 0 0 12px;
    -webkit-transition: all .4s;
    transition: all .4s
}

.directory-card .directory-content .info-icon:hover {
    right: 0
}

.directory-card .social-links {
    position: relative;
    bottom: 22px;
    margin: 0 20px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1)
}

.accountbg {
    background: -webkit-gradient(linear, left top, right top, from(#5cb85c), to(#5cb85c));
    background: linear-gradient(to right, #5cb85c, #5cb85c);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0
}

.wrapper-page {
    margin: 5.5% auto;
    max-width: 460px;
    position: relative
}

.wrapper-page .logo-admin {
    line-height: 70px
}

.wrapper-page .card {
    -webkit-box-shadow: 1px 4px 45px 0 rgba(0, 0, 0, .1);
    box-shadow: 1px 4px 45px 0 rgba(0, 0, 0, .1)
}

.home-btn {
    position: absolute;
    top: 15px;
    right: 25px
}

.user-thumb {
    position: relative;
    z-index: 999
}

.user-thumb img {
    height: 88px;
    margin: 0 auto;
    width: 88px
}

.ex-page-content h1 {
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: rgba(61, 61, 61, .3) 1px 1px, rgba(61, 61, 61, .2) 2px 2px, rgba(61, 61, 61, .3) 3px 3px
}

.ex-page-content h1 .error-icon {
    text-shadow: rgba(109, 90, 227, .3) 1px 1px, rgba(109, 90, 227, .2) 2px 2px, rgba(109, 90, 227, .3) 3px 3px
}

@media (max-width:620px) {
    .mo-mb-2 {
        margin-bottom: 10px
    }
    .mo-mt-2 {
        margin-top: 10px!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    body {
        overflow-x: hidden
    }
}

@media (max-width:768px) {
    body {
        overflow-x: hidden
    }
    .topbar-left {
        width: 70px!important
    }
    .topbar-left .logo-large {
        display: none!important
    }
    .topbar-left .logo-sm {
        display: inline-block!important;
        line-height: 60px!important
    }
    .navbar-custom {
        margin-left: 70px!important
    }
    .content-page {
        margin-left: 0!important
    }
    .content-page .content {
        padding: 0
    }
    .enlarged .left.side-menu {
        margin-left: -70px
    }
    .footer {
        left: 0!important
    }
    .message-list li .col-mail-2 {
        left: 328px
    }
}

@media (max-width:480px) {
    .side-menu {
        z-index: 10!important
    }
    .button-menu-mobile {
        display: block
    }
    .navbar-custom {
        margin-left: 0!important
    }
}

@media (max-width:419px) {
    .topbar-left {
        width: 70px!important
    }
    .content-page {
        margin-left: 70px
    }
    .enlarged .side-menu.left {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important
    }
    .topbar-left {
        display: none
    }
    .nav-pills .nav-link,
    .nav-tabs .nav-link {
        padding: .5rem
    }
}

@media (min-width:768px) {
    .enlarged .slimscroll-menu {
        overflow: inherit!important
    }
}

@media (min-width:769px) {
    body.enlarged {
        min-height: 1200px
    }
}

.alertify,
.alertify-logs {
    z-index: 999999999999999;
}